/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.env

# Logging
*.log
.DS_Store
/logs/
/lib/__pycache__
script/.frajola_clojure.pid
script/.frajola_python.pid
script/frajola.zip
